{% if olendsprefs is defined and olendsprefs.showFullsize() %}
<script type="text/javascript">
    var _init_fullimage = function() {
        $('.picture').css('cursor', 'pointer').attr('title', '{{ _T("Click to view fullsize image", "objectslend")|e('js') }}');
        $('.picture').click(function () {
            var image = $(this).attr('src');
            var fullimage = image.replace(/thumbnail/, 'photo');
            $('body').append(
                '<div class="ui modal fullimage"><i class="close icon"></i><div class="center aligned image content"><img class="ui fluid image" src="' +
                    fullimage +
                    '" /></div></div>'
            );
            $('.ui.modal.fullimage').css('width', 'auto');
            $('.ui.modal.fullimage').modal({
                onHidden: function() {
                    $(this).modal('hide dimmer').remove();
                }
            }).modal('show');
        });
    }

    $(function(){
        _init_fullimage();
    });
</script>
{% endif %}
<script type="text/javascript" src="{{ url_for("plugin_res", {"plugin": module_id, "path": "lend.js"}) }}"></script>
