{% extends 'page.html.twig' %}

{%  macro yesno_checkbox(label, name, tip, yes, no) %}
    <div class="field">
        <div class="inline fields">
            <label title="{{ tip|e() }}">{{ label }}
    {% if tip is not null %}
                <i class="circular inverted primary small icon info tooltip" data-html="{{ tip|e() }}"></i>
    {% endif %}
            </label>
            <div class="field inline">
                <div class="ui radio checkbox">
                    <input type="radio" name="{{ name }}" id="{{ yes.name }}" value="1" {% if yes.checked %}checked="checked"{% endif %}/>
                    <label for="{{ yes.name }}">{{ _T("Yes") }}</label>
                </div>
            </div>
            <div class="field inline">
                <div class="ui radio checkbox">
                    <input type="radio" name="{{ name }}" id="{{ no.name }}" value="0" {% if no.checked %}checked="checked"{% endif %}/>
                    <label for="{{ no.name }}">{{ _T("No") }}</label>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block content %}
<form action="{{ url_for("store_objectlend_preferences") }}" method="post" class="ui form">
    <div class="ui stackable pointing inverted menu tabbed">
        <a class="item active" data-tab="plugin_preferences">{{ _T("Plugin preferences", "objectslend") }}</a>
        <a class="item" data-tab="plugin_images">{{ _T("Images related", "objectslend") }}</a>
        <a class="item" data-tab="plugin_display">{{ _T("Display preferences", "objectslend") }}</a>
    </div>

    <div class="ui active tab segment" data-tab="plugin_preferences">
        <div class="ui stackable grid">
            <div class="column">
                {% set yesno_boxes = [
                    {
                        label: _T("Members can borrow:", "objectslend"),
                        name: 'ENABLE_MEMBER_RENT_OBJECT',
                        tip: _T("Allow a member (not staff neither admin) to borrow an object. If set to 'No', only admin and staff members can access the 'Take object' page", "objectslend"),
                        yes: {
                            name: 'yes_memberborrow',
                            checked: lendsprefs.ENABLE_MEMBER_RENT_OBJECT == '1'
                        },
                        no: {
                            name: 'no_memberborrow',
                            checked: lendsprefs.ENABLE_MEMBER_RENT_OBJECT == '0'
                        }
                    },
                    {
                        label: _T("Generate contribution:", "objectslend"),
                        name: 'AUTO_GENERATE_CONTRIBUTION',
                        tip: _T("Automatically generate a contribution for the member of the amount of the rental price of the object", "objectslend"),
                        yes: {
                            name: 'yes_contrib',
                            checked: lendsprefs.AUTO_GENERATE_CONTRIBUTION == '1'
                        },
                        no: {
                            name: 'no_contrib',
                            checked: lendsprefs.AUTO_GENERATE_CONTRIBUTION == '0'
                        }
                    }
                ] %}

                {% for yesno_box in yesno_boxes %}
                    {{  _self.yesno_checkbox(
                        yesno_box.label,
                        yesno_box.name,
                        yesno_box.tip,
                        yesno_box.yes,
                        yesno_box.no
                    ) }}
                {% endfor %}

                {% set ctype_list_values = {(0): _T("Choose a contribution type", "objectslend")} %}
                {% for id, ctype in ctypes %}
                    {% set ctype_list_values = ctype_list_values + {(id): ctype} %}
                {% endfor %}

                {# TODO: hide this one if AUTO_GENERATE_CONTRIBUTION is off #}
                {% include "components/forms/select.html.twig" with {
                    id: 'contribution_type',
                    name: 'GENERATED_CONTRIBUTION_TYPE_ID',
                    value: lendsprefs.GENERATED_CONTRIBUTION_TYPE_ID,
                    values: ctype_list_values,
                    label: _T("Contribution type:", "objectslend"),
                    required: lendsprefs.AUTO_GENERATE_CONTRIBUTION == '1'
                } %}

                {% include "components/forms/text.html.twig" with {
                    id: 'contrib_text',
                    name: 'GENERATED_CONTRIB_INFO_TEXT',
                    value: lendsprefs.GENERATED_CONTRIB_INFO_TEXT,
                    label: _T("Contribution text:", "objectslend"),
                    title: _T("Comment text to add on generated contribution", "objectslend"),
                    tip_html: _T("Comment text to add on generated contribution. Automatically replaced values (put into curly brackets): <br/>- NAME: Name<br/>- DESCRIPTION: Description<br/>- SERIAL_NUMBER: Serial number<br/>- PRICE: Price<br/>- RENT_PRICE: Borrow price<br/>- WEIGHT: Weight<br/>- DIMENSION: Dimensions", "objectslend"),
                    required: lendsprefs.AUTO_GENERATE_CONTRIBUTION == '1',
                    component_class: 'field'
                } %}

            </div>
        </div>
    </div>

    <div class="ui tab segment" data-tab="plugin_images">
        <div class="ui stackable grid">
            <div class="column">
                {% include "components/forms/number.html.twig" with {
                    id: 'max_thumb_height',
                    name: 'THUMB_MAX_HEIGHT',
                    value: lendsprefs.THUMB_MAX_HEIGHT,
                    label: _T("Max thumb height (in px)", "objectslend"),
                } %}

                {% include "components/forms/number.html.twig" with {
                    id: 'max_thumb_width',
                    name: 'THUMB_MAX_WIDTH',
                    value: lendsprefs.THUMB_MAX_WIDTH,
                    label: _T("Max thumb width (in px)", "objectslend"),
                } %}

                {% set yesno_boxes = [
                    {
                        label: _T("Images in lists:", "objectslend"),
                        name: 'VIEW_THUMBNAIL',
                        title: _T("Display images in objects and categories lists", "objectslend"),
                        tip: _T("Display images in objects and categories lists", "objectslend"),
                        yes: {
                            name: 'yes_view_thumb',
                            checked: lendsprefs.VIEW_THUMBNAIL == '1'
                        },
                        no: {
                            name: 'no_view_thumb',
                            checked: lendsprefs.VIEW_THUMBNAIL == '0'
                        }
                    },
                    {
                        label: _T("Enable fullsize:", "objectslend"),
                        name: 'VIEW_FULLSIZE',
                        title: _T("Show fullsize image or just thumbs", "objectslend"),
                        tip: _T("Will permit to see fullsize image clicking on thumbnails.<br/>If disabled, only thumbnails will be displayed, but full images are still kept.", "objectslend"),
                        yes: {
                            name: 'yes_view_fullsize',
                            checked: lendsprefs.VIEW_FULLSIZE == '1'
                        },
                        no: {
                            name: 'no_view_fullsize',
                            checked: lendsprefs.VIEW_FULLSIZE == '0'
                        }
                    }
                ] %}

                {% for yesno_box in yesno_boxes %}
                    {{  _self.yesno_checkbox(
                        yesno_box.label,
                        yesno_box.name,
                        yesno_box.tip,
                        yesno_box.yes,
                        yesno_box.no
                    ) }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui tab segment" data-tab="plugin_display">
        <div class="ui stackable grid">
            <div class="column">
                {% set yesno_boxes = [
                    {
                        label: _T("View category:", "objectslend"),
                        name: 'VIEW_CATEGORY',
                        yes: {
                            name: 'yes_view_category',
                            checked: lendsprefs.VIEW_CATEGORY == '1'
                        },
                        no: {
                            name: 'no_view_category',
                            checked: lendsprefs.VIEW_CATEGORY == '0'
                        }
                    },
                    {
                        label: _T("View forecast return date:", "objectslend"),
                        name: 'VIEW_DATE_FORECAST',
                        yes: {
                            name: 'yes_view_dateforecast',
                            checked: lendsprefs.VIEW_DATE_FORECAST == '1'
                        },
                        no: {
                            name: 'no_view_dateforecats',
                            checked: lendsprefs.VIEW_DATE_FORECAST == '0'
                        }
                    },
                    {
                        label: _T("View description", "objectslend"),
                        name: 'VIEW_DESCRIPTION',
                        yes: {
                            name: 'yes_view_description',
                            checked: lendsprefs.VIEW_DESCRIPTION == '1'
                        },
                        no: {
                            name: 'no_view_description',
                            checked: lendsprefs.VIEW_DESCRIPTION == '0'
                        }
                    },
                    {
                        label: _T("View dimensions:", "objectslend"),
                        name: 'VIEW_DIMENSION',
                        yes: {
                            name: 'yes_view_dimension',
                            checked: lendsprefs.VIEW_DIMENSION == '1'
                        },
                        no: {
                            name: 'no_view_dimension',
                            checked: lendsprefs.VIEW_DIMENSION == '0'
                        }
                    },
                    {
                        label: _T("View borrow price:", "objectslend"),
                        name: 'VIEW_LEND_PRICE',
                        yes: {
                            name: 'yes_view_lendprice',
                            checked: lendsprefs.VIEW_LEND_PRICE == '1'
                        },
                        no: {
                            name: 'no_view_lendprice',
                            checked: lendsprefs.VIEW_LEND_PRICE == '0'
                        }
                    },
                    {
                        label: _T("View price sum:", "objectslend"),
                        name: 'VIEW_LIST_PRICE_SUM',
                        tip: _T("View the objects buy price sum on the list under the category", "objectslend"),
                        yes: {
                            name: 'yes_view_pricesum',
                            checked: lendsprefs.VIEW_LIST_PRICE_SUM == '1'
                        },
                        no: {
                            name: 'no_view_pricesum',
                            checked: lendsprefs.VIEW_LIST_PRICE_SUM == '0'
                        }
                    },
                    {
                        label: _T("View buy price:", "objectslend"),
                        name: 'VIEW_PRICE',
                        yes: {
                            name: 'yes_view_price',
                            checked: lendsprefs.VIEW_PRICE == '1'
                        },
                        no: {
                            name: 'no_view_price',
                            checked: lendsprefs.VIEW_PRICE == '0'
                        }
                    },
                    {
                        label: _T("View serial number:", "objectslend"),
                        name: 'VIEW_SERIAL',
                        yes: {
                            name: 'yes_view_serial',
                            checked: lendsprefs.VIEW_SERIAL == '1'
                        },
                        no: {
                            name: 'no_view_serial',
                            checked: lendsprefs.VIEW_SERIAL == '0'
                        }
                    },
                    {
                        label: _T("View weight", "objectslend"),
                        name: 'VIEW_WEIGHT',
                        yes: {
                            name: 'yes_view_weight',
                            checked: lendsprefs.VIEW_WEIGHT == '1'
                        },
                        no: {
                            name: 'no_view_weight',
                            checked: lendsprefs.VIEW_WEIGHT == '0'
                        }
                    },

                ] %}

                {% for yesno_box in yesno_boxes %}
                    {{  _self.yesno_checkbox(
                        yesno_box.label,
                        yesno_box.name,
                        yesno_box.tip ?? null,
                        yesno_box.yes,
                        yesno_box.no
                    ) }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui basic center aligned segment">
        <button type="submit" class="ui labeled icon primary button action">
            <i class="save icon"></i> {{ _T("Save") }}
        </button>
    </div>
    {% include "components/forms/csrf.html.twig" %}
</form>
{% endblock %}
