{% extends 'elements/list.html.twig' %}

{% set nb = nb_status %}

{% set form = {
    'order': {
        'name': "objectslend_statuses"
    }
} %}

{% import "macros.twig" as macros %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%count status", "%count statuses", nb)|replace({"%count": nb}),
        'route': {
            'name': 'objectslend_filter_statuses'
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block infoline_actions %}
    <a
            class="ui tiny labeled icon button"
            href="{{ url_for("objectslend_status_add") }}"
    >
        <i class="plus circle green icon" aria-hidden="true"></i>
        {{ _T("Add a status", "objectslend") }}
    </a>
{% endblock %}

{% block header %}
    {% set columns = [
        {'label': '#', order: constant('GaletteObjectsLend\\Repository\\Status::ORDERBY_ID')},
        {'label': _T("Status", "objectslend"), order: constant('GaletteObjectsLend\\Repository\\Status::ORDERBY_NAME')},
        {'label': _T("Active", "objectslend"), order: constant('GaletteObjectsLend\\Repository\\Status::ORDERBY_ACTIVE')},
        {'label': _T("Stock", "objectslend"), order: constant('GaletteObjectsLend\\Repository\\Status::ORDERBY_STOCK')},
        {'label': _T("Days for rent", "objectslend"), order: constant('GaletteObjectsLend\\Repository\\Status::ORDERBY_RENTDAYS')}
    ] %}

    {{ parent() }}
{% endblock %}

{% block search %}
    <form action="{{ url_for("objectslend_filter_statuses") }}" method="post" id="filtre" class="ui form filters">
        <div class="ui secondary yellow segment">
            <div class="ui four fields">
                <div class="field">
                    <label for="event_filter">{{_T("Search:") }}</label>
                    <input type="text" name="filter_str" id="filter_str" value="{{ filters.filter_str }}" type="search" placeholder="{{ _T("Enter a value") }}"/>
                </div>
                <div class="field">
                    <label for="email_filter">{{ _T("Active:", "objectslend") }}</label>
                    <div class="inline fields">
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="active_filter" id="filter_dc_active" value="{{ constant('GaletteObjectsLend\\Repository\\Status::ALL')}}"{% if filters.active_filter == constant('GaletteObjectsLend\\Repository\\Status::ALL') %} checked="checked"{% endif %}>
                                <label for="filter_dc_active" >{{ _T("Don't care") }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="active_filter" id="filter_yes_active" value="{{ constant('GaletteObjectsLend\\Repository\\Status::ACTIVE') }}"{% if filters.active_filter == constant('GaletteObjectsLend\\Repository\\Status::ACTIVE') %} checked="checked"{% endif %}>
                                <label for="filter_yes_active" >{{ _T("Yes") }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="active_filter" id="filter_no_active" value="{{ constant('GaletteObjectsLend\\Repository\\Status::INACTIVE') }}"{% if filters.active_filter == constant('GaletteObjectsLend\\Repository\\Status::INACTIVE') %} checked="checked"{% endif %}>
                                <label for="filter_no_active" >{{ _T("No") }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="email_filter">{{ _T("In stock:", "objectslend") }}</label>
                    <div class="inline fields">
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="stock_filter" id="filter_dc_stock" value="{{ constant('GaletteObjectsLend\\Repository\\Status::DC_STOCK')}}"{% if filters.stock_filter == constant('GaletteObjectsLend\\Repository\\Status::DC_STOCK') %} checked="checked"{% endif %}>
                                <label for="filter_dc_stock" >{{ _T("Don't care") }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="stock_filter" id="filter_yes_stock" value="{{ constant('GaletteObjectsLend\\Repository\\Status::IN_STOCK') }}"{% if filters.stock_filter == constant('GaletteObjectsLend\\Repository\\Status::IN_STOCK') %} checked="checked"{% endif %}>
                                <label for="filter_yes_stock" >{{ _T("Yes") }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui radio checkbox">
                                <input type="radio" name="stock_filter" id="filter_no_stock" value="{{ constant('GaletteObjectsLend\\Repository\\Status::OUT_STOCK') }}"{% if filters.stock_filter == constant('GaletteObjectsLend\\Repository\\Status::OUT_STOCK') %} checked="checked"{% endif %}>
                                <label for="filter_no_stock" >{{ _T("No") }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui right aligned basic fitted segment field flexend">
                    <button type="submit"  class="tooltip action ui labeled icon primary button" title="{{ _T('Apply filters') }}" name="filter">
                        <i class="search icon"></i>
                        {{ _T('Filter') }}
                    </button>
                    <button type="submit" name="clear_filter" class="ui labeled icon button tooltip" title="{{ _T('Reset all filters to defaults') }}">
                        <i class="trash alt red icon" aria-hidden="true"></i>
                        {{ _T('Clear filter') }}
                    </button>
                </div>
            </div>
        </div>
        {% include "components/forms/csrf.html.twig" %}
    </form>
{% endblock %}

{% block body %}
    {% for status in statuses %}
        <tr class="{% if loop.index is odd %}even{% else %}odd{% endif %}">
            <td data-scope="id">
                {{ status.status_id }}
            </td>
            <td data-col-label="{{ _T("Status", "objectslend") }}">
                {{ status.status_text }}
            </td>
            <td class="center" data-col-label="{{ _T("Active", "objectslend") }}">
                {% if status.is_active %}
                    <i class="thumbs up green icon tooltip" data-html="{{ _T("Active", "objectslend") }}"></i>
                    <span class="visually-hidden">{{ _T("Active", "objectslend") }}</span>
                {% else %}
                    <i class="thumbs down red icon tooltip" data-html="{{ _T("Inactive", "objectslend") }}"></i>
                    <span class="visually-hidden">{{ _T("Inactive", "objectslend") }}</span>
                {% endif %}
            </td>
            <td class="center" data-col-label="{{ _T("Stock", "objectslend") }}">
                {% if status.in_stock %}
                    <i class="thumbs up green icon tooltip" data-html="{{ _T("In stock", "objectslend") }}"></i>
                    <span class="visually-hidden">{{ _T("In stock", "objectslend") }}</span>
                {% else %}
                    <i class="thumbs down red icon tooltip" data-html="{{ _T("Not in stock", "objectslend") }}"></i>
                    <span class="visually-hidden">{{ _T("Not in stock", "objectslend") }}</span>
                {% endif %}
            </td>
            <td data-col-label="{{ _T("Days for rent", "objectslend") }}">
                {% if status.rent_day_number %}
                    {{ _T("%days days", "objectslend")|replace({'%days': status.rent_day_number}) }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="center actions_row nowrap">
                {% set actions = [
                    {
                        'label': _T("Edit %status", "objectslend")|replace({'%status': status.status_text}),
                        'route': {
                            'name': 'objectslend_status_edit',
                            'args': {'id': status.status_id}
                        },
                        'icon': 'edit'
                    },
                    {
                        'label': _T("Remove %status from database", "objectslend")|replace({ '%status': status.status_text }),
                        'route': {
                        'name': 'objectslend_remove_status',
                            'args': {'id': status.status_id}
                        },
                        'icon': 'trash red',
                        'extra_class': 'delete'
                    }
                ] %}

                {% for action in actions %}
                    {{ macros.drawListAction(action.label, action.route, action.icon, action.extra_class ?? '') }}
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6" class="emptylist">{{ _T("No status has been found", "objectslend") }}</td></tr>
    {% endfor %}
{% endblock %}
